@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),
       url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),
       url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),
       url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),
       url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$f-500px: "\f26e";
$f-adjust: "\f042";
$f-adn: "\f170";
$f-align-center: "\f037";
$f-align-justify: "\f039";
$f-align-left: "\f036";
$f-align-right: "\f038";
$f-amazon: "\f270";
$f-ambulance: "\f0f9";
$f-anchor: "\f13d";
$f-android: "\f17b";
$f-angellist: "\f209";
$f-angle-double-down: "\f103";
$f-angle-double-left: "\f100";
$f-angle-double-right: "\f101";
$f-angle-double-up: "\f102";
$f-angle-down: "\f107";
$f-angle-left: "\f104";
$f-angle-right: "\f105";
$f-angle-up: "\f106";
$f-apple: "\f179";
$f-archive: "\f187";
$f-area-chart: "\f1fe";
$f-arrow-circle-down: "\f0ab";
$f-arrow-circle-left: "\f0a8";
$f-arrow-circle-o-down: "\f01a";
$f-arrow-circle-o-left: "\f190";
$f-arrow-circle-o-right: "\f18e";
$f-arrow-circle-o-up: "\f01b";
$f-arrow-circle-right: "\f0a9";
$f-arrow-circle-up: "\f0aa";
$f-arrow-down: "\f063";
$f-arrow-left: "\f060";
$f-arrow-right: "\f061";
$f-arrow-up: "\f062";
$f-arrows: "\f047";
$f-arrows-alt: "\f0b2";
$f-arrows-h: "\f07e";
$f-arrows-v: "\f07d";
$f-asterisk: "\f069";
$f-at: "\f1fa";
$f-automobile: "\f1b9";
$f-backward: "\f04a";
$f-balance-scale: "\f24e";
$f-ban: "\f05e";
$f-bank: "\f19c";
$f-bar-chart: "\f080";
$f-bar-chart-o: "\f080";
$f-barcode: "\f02a";
$f-bars: "\f0c9";
$f-battery-0: "\f244";
$f-battery-1: "\f243";
$f-battery-2: "\f242";
$f-battery-3: "\f241";
$f-battery-4: "\f240";
$f-battery-empty: "\f244";
$f-battery-full: "\f240";
$f-battery-half: "\f242";
$f-battery-quarter: "\f243";
$f-battery-three-quarters: "\f241";
$f-bed: "\f236";
$f-beer: "\f0fc";
$f-behance: "\f1b4";
$f-behance-square: "\f1b5";
$f-bell: "\f0f3";
$f-bell-o: "\f0a2";
$f-bell-slash: "\f1f6";
$f-bell-slash-o: "\f1f7";
$f-bicycle: "\f206";
$f-binoculars: "\f1e5";
$f-birthday-cake: "\f1fd";
$f-bitbucket: "\f171";
$f-bitbucket-square: "\f172";
$f-bitcoin: "\f15a";
$f-black-tie: "\f27e";
$f-bluetooth: "\f293";
$f-bluetooth-b: "\f294";
$f-bold: "\f032";
$f-bolt: "\f0e7";
$f-bomb: "\f1e2";
$f-book: "\f02d";
$f-bookmark: "\f02e";
$f-bookmark-o: "\f097";
$f-briefcase: "\f0b1";
$f-btc: "\f15a";
$f-bug: "\f188";
$f-building: "\f1ad";
$f-building-o: "\f0f7";
$f-bullhorn: "\f0a1";
$f-bullseye: "\f140";
$f-bus: "\f207";
$f-buysellads: "\f20d";
$f-cab: "\f1ba";
$f-calculator: "\f1ec";
$f-calendar: "\f073";
$f-calendar-check-o: "\f274";
$f-calendar-minus-o: "\f272";
$f-calendar-o: "\f133";
$f-calendar-plus-o: "\f271";
$f-calendar-times-o: "\f273";
$f-camera: "\f030";
$f-camera-retro: "\f083";
$f-car: "\f1b9";
$f-caret-down: "\f0d7";
$f-caret-left: "\f0d9";
$f-caret-right: "\f0da";
$f-caret-square-o-down: "\f150";
$f-caret-square-o-left: "\f191";
$f-caret-square-o-right: "\f152";
$f-caret-square-o-up: "\f151";
$f-caret-up: "\f0d8";
$f-cart-arrow-down: "\f218";
$f-cart-plus: "\f217";
$f-cc: "\f20a";
$f-cc-amex: "\f1f3";
$f-cc-diners-club: "\f24c";
$f-cc-discover: "\f1f2";
$f-cc-jcb: "\f24b";
$f-cc-mastercard: "\f1f1";
$f-cc-paypal: "\f1f4";
$f-cc-stripe: "\f1f5";
$f-cc-visa: "\f1f0";
$f-certificate: "\f0a3";
$f-chain: "\f0c1";
$f-chain-broken: "\f127";
$f-check: "\f00c";
$f-check-circle: "\f058";
$f-check-circle-o: "\f05d";
$f-check-square: "\f14a";
$f-check-square-o: "\f046";
$f-chevron-circle-down: "\f13a";
$f-chevron-circle-left: "\f137";
$f-chevron-circle-right: "\f138";
$f-chevron-circle-up: "\f139";
$f-chevron-down: "\f078";
$f-chevron-left: "\f053";
$f-chevron-right: "\f054";
$f-chevron-up: "\f077";
$f-child: "\f1ae";
$f-chrome: "\f268";
$f-circle: "\f111";
$f-circle-o: "\f10c";
$f-circle-o-notch: "\f1ce";
$f-circle-thin: "\f1db";
$f-clipboard: "\f0ea";
$f-clock-o: "\f017";
$f-clone: "\f24d";
$f-close: "\f00d";
$f-cloud: "\f0c2";
$f-cloud-download: "\f0ed";
$f-cloud-upload: "\f0ee";
$f-cny: "\f157";
$f-code: "\f121";
$f-code-fork: "\f126";
$f-codepen: "\f1cb";
$f-codiepie: "\f284";
$f-coffee: "\f0f4";
$f-cog: "\f013";
$f-cogs: "\f085";
$f-columns: "\f0db";
$f-comment: "\f075";
$f-comment-o: "\f0e5";
$f-commenting: "\f27a";
$f-commenting-o: "\f27b";
$f-comments: "\f086";
$f-comments-o: "\f0e6";
$f-compass: "\f14e";
$f-compress: "\f066";
$f-connectdevelop: "\f20e";
$f-contao: "\f26d";
$f-copy: "\f0c5";
$f-copyright: "\f1f9";
$f-creative-commons: "\f25e";
$f-credit-card: "\f09d";
$f-credit-card-alt: "\f283";
$f-crop: "\f125";
$f-crosshairs: "\f05b";
$f-css3: "\f13c";
$f-cube: "\f1b2";
$f-cubes: "\f1b3";
$f-cut: "\f0c4";
$f-cutlery: "\f0f5";
$f-dashboard: "\f0e4";
$f-dashcube: "\f210";
$f-database: "\f1c0";
$f-dedent: "\f03b";
$f-delicious: "\f1a5";
$f-desktop: "\f108";
$f-deviantart: "\f1bd";
$f-diamond: "\f219";
$f-digg: "\f1a6";
$f-dollar: "\f155";
$f-dot-circle-o: "\f192";
$f-download: "\f019";
$f-dribbble: "\f17d";
$f-dropbox: "\f16b";
$f-drupal: "\f1a9";
$f-edge: "\f282";
$f-edit: "\f044";
$f-eject: "\f052";
$f-ellipsis-h: "\f141";
$f-ellipsis-v: "\f142";
$f-empire: "\f1d1";
$f-envelope: "\f0e0";
$f-envelope-o: "\f003";
$f-envelope-square: "\f199";
$f-eraser: "\f12d";
$f-eur: "\f153";
$f-euro: "\f153";
$f-exchange: "\f0ec";
$f-exclamation: "\f12a";
$f-exclamation-circle: "\f06a";
$f-exclamation-triangle: "\f071";
$f-expand: "\f065";
$f-expeditedssl: "\f23e";
$f-external-link: "\f08e";
$f-external-link-square: "\f14c";
$f-eye: "\f06e";
$f-eye-slash: "\f070";
$f-eyedropper: "\f1fb";
$f-facebook: "\f09a";
$f-facebook-f: "\f09a";
$f-facebook-official: "\f230";
$f-facebook-square: "\f082";
$f-fast-backward: "\f049";
$f-fast-forward: "\f050";
$f-fax: "\f1ac";
$f-feed: "\f09e";
$f-female: "\f182";
$f-fighter-jet: "\f0fb";
$f-file: "\f15b";
$f-file-archive-o: "\f1c6";
$f-file-audio-o: "\f1c7";
$f-file-code-o: "\f1c9";
$f-file-excel-o: "\f1c3";
$f-file-image-o: "\f1c5";
$f-file-movie-o: "\f1c8";
$f-file-o: "\f016";
$f-file-pdf-o: "\f1c1";
$f-file-photo-o: "\f1c5";
$f-file-picture-o: "\f1c5";
$f-file-powerpoint-o: "\f1c4";
$f-file-sound-o: "\f1c7";
$f-file-text: "\f15c";
$f-file-text-o: "\f0f6";
$f-file-video-o: "\f1c8";
$f-file-word-o: "\f1c2";
$f-file-zip-o: "\f1c6";
$f-files-o: "\f0c5";
$f-film: "\f008";
$f-filter: "\f0b0";
$f-fire: "\f06d";
$f-fire-extinguisher: "\f134";
$f-firefox: "\f269";
$f-flag: "\f024";
$f-flag-checkered: "\f11e";
$f-flag-o: "\f11d";
$f-flash: "\f0e7";
$f-flask: "\f0c3";
$f-flickr: "\f16e";
$f-floppy-o: "\f0c7";
$f-folder: "\f07b";
$f-folder-o: "\f114";
$f-folder-open: "\f07c";
$f-folder-open-o: "\f115";
$f-font: "\f031";
$f-fonticons: "\f280";
$f-fort-awesome: "\f286";
$f-forumbee: "\f211";
$f-forward: "\f04e";
$f-foursquare: "\f180";
$f-frown-o: "\f119";
$f-futbol-o: "\f1e3";
$f-gamepad: "\f11b";
$f-gavel: "\f0e3";
$f-gbp: "\f154";
$f-ge: "\f1d1";
$f-gear: "\f013";
$f-gears: "\f085";
$f-genderless: "\f22d";
$f-get-pocket: "\f265";
$f-gg: "\f260";
$f-gg-circle: "\f261";
$f-gift: "\f06b";
$f-git: "\f1d3";
$f-git-square: "\f1d2";
$f-github: "\f09b";
$f-github-alt: "\f113";
$f-github-square: "\f092";
$f-gittip: "\f184";
$f-glass: "\f000";
$f-globe: "\f0ac";
$f-google: "\f1a0";
$f-google-plus: "\f0d5";
$f-google-plus-square: "\f0d4";
$f-google-wallet: "\f1ee";
$f-graduation-cap: "\f19d";
$f-gratipay: "\f184";
$f-group: "\f0c0";
$f-h-square: "\f0fd";
$f-hacker-news: "\f1d4";
$f-hand-grab-o: "\f255";
$f-hand-lizard-o: "\f258";
$f-hand-o-down: "\f0a7";
$f-hand-o-left: "\f0a5";
$f-hand-o-right: "\f0a4";
$f-hand-o-up: "\f0a6";
$f-hand-paper-o: "\f256";
$f-hand-peace-o: "\f25b";
$f-hand-pointer-o: "\f25a";
$f-hand-rock-o: "\f255";
$f-hand-scissors-o: "\f257";
$f-hand-spock-o: "\f259";
$f-hand-stop-o: "\f256";
$f-hashtag: "\f292";
$f-hdd-o: "\f0a0";
$f-header: "\f1dc";
$f-headphones: "\f025";
$f-heart: "\f004";
$f-heart-o: "\f08a";
$f-heartbeat: "\f21e";
$f-history: "\f1da";
$f-home: "\f015";
$f-hospital-o: "\f0f8";
$f-hotel: "\f236";
$f-hourglass: "\f254";
$f-hourglass-1: "\f251";
$f-hourglass-2: "\f252";
$f-hourglass-3: "\f253";
$f-hourglass-end: "\f253";
$f-hourglass-half: "\f252";
$f-hourglass-o: "\f250";
$f-hourglass-start: "\f251";
$f-houzz: "\f27c";
$f-html5: "\f13b";
$f-i-cursor: "\f246";
$f-ils: "\f20b";
$f-image: "\f03e";
$f-inbox: "\f01c";
$f-indent: "\f03c";
$f-industry: "\f275";
$f-info: "\f129";
$f-info-circle: "\f05a";
$f-inr: "\f156";
$f-instagram: "\f16d";
$f-institution: "\f19c";
$f-internet-explorer: "\f26b";
$f-intersex: "\f224";
$f-ioxhost: "\f208";
$f-italic: "\f033";
$f-joomla: "\f1aa";
$f-jpy: "\f157";
$f-jsfiddle: "\f1cc";
$f-key: "\f084";
$f-keyboard-o: "\f11c";
$f-krw: "\f159";
$f-language: "\f1ab";
$f-laptop: "\f109";
$f-lastfm: "\f202";
$f-lastfm-square: "\f203";
$f-leaf: "\f06c";
$f-leanpub: "\f212";
$f-legal: "\f0e3";
$f-lemon-o: "\f094";
$f-level-down: "\f149";
$f-level-up: "\f148";
$f-life-bouy: "\f1cd";
$f-life-buoy: "\f1cd";
$f-life-ring: "\f1cd";
$f-life-saver: "\f1cd";
$f-lightbulb-o: "\f0eb";
$f-line-chart: "\f201";
$f-link: "\f0c1";
$f-linkedin: "\f0e1";
$f-linkedin-square: "\f08c";
$f-linux: "\f17c";
$f-list: "\f03a";
$f-list-alt: "\f022";
$f-list-ol: "\f0cb";
$f-list-ul: "\f0ca";
$f-location-arrow: "\f124";
$f-lock: "\f023";
$f-long-arrow-down: "\f175";
$f-long-arrow-left: "\f177";
$f-long-arrow-right: "\f178";
$f-long-arrow-up: "\f176";
$f-magic: "\f0d0";
$f-magnet: "\f076";
$f-mail-forward: "\f064";
$f-mail-reply: "\f112";
$f-mail-reply-all: "\f122";
$f-male: "\f183";
$f-map: "\f279";
$f-map-marker: "\f041";
$f-map-o: "\f278";
$f-map-pin: "\f276";
$f-map-signs: "\f277";
$f-mars: "\f222";
$f-mars-double: "\f227";
$f-mars-stroke: "\f229";
$f-mars-stroke-h: "\f22b";
$f-mars-stroke-v: "\f22a";
$f-maxcdn: "\f136";
$f-meanpath: "\f20c";
$f-medium: "\f23a";
$f-medkit: "\f0fa";
$f-meh-o: "\f11a";
$f-mercury: "\f223";
$f-microphone: "\f130";
$f-microphone-slash: "\f131";
$f-minus: "\f068";
$f-minus-circle: "\f056";
$f-minus-square: "\f146";
$f-minus-square-o: "\f147";
$f-mixcloud: "\f289";
$f-mobile: "\f10b";
$f-mobile-phone: "\f10b";
$f-modx: "\f285";
$f-money: "\f0d6";
$f-moon-o: "\f186";
$f-mortar-board: "\f19d";
$f-motorcycle: "\f21c";
$f-mouse-pointer: "\f245";
$f-music: "\f001";
$f-navicon: "\f0c9";
$f-neuter: "\f22c";
$f-newspaper-o: "\f1ea";
$f-object-group: "\f247";
$f-object-ungroup: "\f248";
$f-odnoklassniki: "\f263";
$f-odnoklassniki-square: "\f264";
$f-opencart: "\f23d";
$f-openid: "\f19b";
$f-opera: "\f26a";
$f-optin-monster: "\f23c";
$f-outdent: "\f03b";
$f-pagelines: "\f18c";
$f-paint-brush: "\f1fc";
$f-paper-plane: "\f1d8";
$f-paper-plane-o: "\f1d9";
$f-paperclip: "\f0c6";
$f-paragraph: "\f1dd";
$f-paste: "\f0ea";
$f-pause: "\f04c";
$f-pause-circle: "\f28b";
$f-pause-circle-o: "\f28c";
$f-paw: "\f1b0";
$f-paypal: "\f1ed";
$f-pencil: "\f040";
$f-pencil-square: "\f14b";
$f-pencil-square-o: "\f044";
$f-percent: "\f295";
$f-phone: "\f095";
$f-phone-square: "\f098";
$f-photo: "\f03e";
$f-picture-o: "\f03e";
$f-pie-chart: "\f200";
$f-pied-piper: "\f1a7";
$f-pied-piper-alt: "\f1a8";
$f-pinterest: "\f0d2";
$f-pinterest-p: "\f231";
$f-pinterest-square: "\f0d3";
$f-plane: "\f072";
$f-play: "\f04b";
$f-play-circle: "\f144";
$f-play-circle-o: "\f01d";
$f-plug: "\f1e6";
$f-plus: "\f067";
$f-plus-circle: "\f055";
$f-plus-square: "\f0fe";
$f-plus-square-o: "\f196";
$f-power-off: "\f011";
$f-print: "\f02f";
$f-product-hunt: "\f288";
$f-puzzle-piece: "\f12e";
$f-qq: "\f1d6";
$f-qrcode: "\f029";
$f-question: "\f128";
$f-question-circle: "\f059";
$f-quote-left: "\f10d";
$f-quote-right: "\f10e";
$f-ra: "\f1d0";
$f-random: "\f074";
$f-rebel: "\f1d0";
$f-recycle: "\f1b8";
$f-reddit: "\f1a1";
$f-reddit-alien: "\f281";
$f-reddit-square: "\f1a2";
$f-refresh: "\f021";
$f-registered: "\f25d";
$f-remove: "\f00d";
$f-renren: "\f18b";
$f-reorder: "\f0c9";
$f-repeat: "\f01e";
$f-reply: "\f112";
$f-reply-all: "\f122";
$f-retweet: "\f079";
$f-rmb: "\f157";
$f-road: "\f018";
$f-rocket: "\f135";
$f-rotate-left: "\f0e2";
$f-rotate-right: "\f01e";
$f-rouble: "\f158";
$f-rss: "\f09e";
$f-rss-square: "\f143";
$f-rub: "\f158";
$f-ruble: "\f158";
$f-rupee: "\f156";
$f-safari: "\f267";
$f-save: "\f0c7";
$f-scissors: "\f0c4";
$f-scribd: "\f28a";
$f-search: "\f002";
$f-search-minus: "\f010";
$f-search-plus: "\f00e";
$f-sellsy: "\f213";
$f-send: "\f1d8";
$f-send-o: "\f1d9";
$f-server: "\f233";
$f-share: "\f064";
$f-share-alt: "\f1e0";
$f-share-alt-square: "\f1e1";
$f-share-square: "\f14d";
$f-share-square-o: "\f045";
$f-shekel: "\f20b";
$f-sheqel: "\f20b";
$f-shield: "\f132";
$f-ship: "\f21a";
$f-shirtsinbulk: "\f214";
$f-shopping-bag: "\f290";
$f-shopping-basket: "\f291";
$f-shopping-cart: "\f07a";
$f-sign-in: "\f090";
$f-sign-out: "\f08b";
$f-signal: "\f012";
$f-simplybuilt: "\f215";
$f-sitemap: "\f0e8";
$f-skyatlas: "\f216";
$f-skype: "\f17e";
$f-slack: "\f198";
$f-sliders: "\f1de";
$f-slideshare: "\f1e7";
$f-smile-o: "\f118";
$f-soccer-ball-o: "\f1e3";
$f-sort: "\f0dc";
$f-sort-alpha-asc: "\f15d";
$f-sort-alpha-desc: "\f15e";
$f-sort-amount-asc: "\f160";
$f-sort-amount-desc: "\f161";
$f-sort-asc: "\f0de";
$f-sort-desc: "\f0dd";
$f-sort-down: "\f0dd";
$f-sort-numeric-asc: "\f162";
$f-sort-numeric-desc: "\f163";
$f-sort-up: "\f0de";
$f-soundcloud: "\f1be";
$f-space-shuttle: "\f197";
$f-spinner: "\f110";
$f-spoon: "\f1b1";
$f-spotify: "\f1bc";
$f-square: "\f0c8";
$f-square-o: "\f096";
$f-stack-exchange: "\f18d";
$f-stack-overflow: "\f16c";
$f-star: "\f005";
$f-star-half: "\f089";
$f-star-half-empty: "\f123";
$f-star-half-full: "\f123";
$f-star-half-o: "\f123";
$f-star-o: "\f006";
$f-steam: "\f1b6";
$f-steam-square: "\f1b7";
$f-step-backward: "\f048";
$f-step-forward: "\f051";
$f-stethoscope: "\f0f1";
$f-sticky-note: "\f249";
$f-sticky-note-o: "\f24a";
$f-stop: "\f04d";
$f-stop-circle: "\f28d";
$f-stop-circle-o: "\f28e";
$f-street-view: "\f21d";
$f-strikethrough: "\f0cc";
$f-stumbleupon: "\f1a4";
$f-stumbleupon-circle: "\f1a3";
$f-subscript: "\f12c";
$f-subway: "\f239";
$f-suitcase: "\f0f2";
$f-sun-o: "\f185";
$f-superscript: "\f12b";
$f-support: "\f1cd";
$f-table: "\f0ce";
$f-tablet: "\f10a";
$f-tachometer: "\f0e4";
$f-tag: "\f02b";
$f-tags: "\f02c";
$f-tasks: "\f0ae";
$f-taxi: "\f1ba";
$f-television: "\f26c";
$f-tencent-weibo: "\f1d5";
$f-terminal: "\f120";
$f-text-height: "\f034";
$f-text-width: "\f035";
$f-th: "\f00a";
$f-th-large: "\f009";
$f-th-list: "\f00b";
$f-thumb-tack: "\f08d";
$f-thumbs-down: "\f165";
$f-thumbs-o-down: "\f088";
$f-thumbs-o-up: "\f087";
$f-thumbs-up: "\f164";
$f-ticket: "\f145";
$f-times: "\f00d";
$f-times-circle: "\f057";
$f-times-circle-o: "\f05c";
$f-tint: "\f043";
$f-toggle-down: "\f150";
$f-toggle-left: "\f191";
$f-toggle-off: "\f204";
$f-toggle-on: "\f205";
$f-toggle-right: "\f152";
$f-toggle-up: "\f151";
$f-trademark: "\f25c";
$f-train: "\f238";
$f-transgender: "\f224";
$f-transgender-alt: "\f225";
$f-trash: "\f1f8";
$f-trash-o: "\f014";
$f-tree: "\f1bb";
$f-trello: "\f181";
$f-tripadvisor: "\f262";
$f-trophy: "\f091";
$f-truck: "\f0d1";
$f-try: "\f195";
$f-tty: "\f1e4";
$f-tumblr: "\f173";
$f-tumblr-square: "\f174";
$f-turkish-lira: "\f195";
$f-tv: "\f26c";
$f-twitch: "\f1e8";
$f-twitter: "\f099";
$f-twitter-square: "\f081";
$f-umbrella: "\f0e9";
$f-underline: "\f0cd";
$f-undo: "\f0e2";
$f-university: "\f19c";
$f-unlink: "\f127";
$f-unlock: "\f09c";
$f-unlock-alt: "\f13e";
$f-unsorted: "\f0dc";
$f-upload: "\f093";
$f-usb: "\f287";
$f-usd: "\f155";
$f-user: "\f007";
$f-user-md: "\f0f0";
$f-user-plus: "\f234";
$f-user-secret: "\f21b";
$f-user-times: "\f235";
$f-users: "\f0c0";
$f-venus: "\f221";
$f-venus-double: "\f226";
$f-venus-mars: "\f228";
$f-viacoin: "\f237";
$f-video-camera: "\f03d";
$f-vimeo: "\f27d";
$f-vimeo-square: "\f194";
$f-vine: "\f1ca";
$f-vk: "\f189";
$f-volume-down: "\f027";
$f-volume-off: "\f026";
$f-volume-up: "\f028";
$f-warning: "\f071";
$f-wechat: "\f1d7";
$f-weibo: "\f18a";
$f-weixin: "\f1d7";
$f-whatsapp: "\f232";
$f-wheelchair: "\f193";
$f-wifi: "\f1eb";
$f-wikipedia-w: "\f266";
$f-windows: "\f17a";
$f-won: "\f159";
$f-wordpress: "\f19a";
$f-wrench: "\f0ad";
$f-xing: "\f168";
$f-xing-square: "\f169";
$f-y-combinator: "\f23b";
$f-y-combinator-square: "\f1d4";
$f-yahoo: "\f19e";
$f-yc: "\f23b";
$f-yc-square: "\f1d4";
$f-yelp: "\f1e9";
$f-yen: "\f157";
$f-youtube: "\f167";
$f-youtube-play: "\f16a";
$f-youtube-square: "\f166";

