/***************************************************************************
*  XCODE AGILE CSS MIXIN FRAMEWORK                                         *
*  @author  : xcode                                                        *
*  @version : 2.1.4                                                        *
*  @since   : 02.2016                                                      *
*  @mime    : Sass/Scss                                                    *
*  @contact : ozbilgiclevent@gmail.com                                     *
*  @link    : https://github.com/ozbilgic/sass-mixin-css-framework         *
*  @www     : http://workz.com.tr/xcode                                    *
*                                                                          *
*--------------------------------------------------------------------------*
*  Features List »                                                         *
*--------------------------------------------------------------------------*
*  Functions:                                                              *
*    » Pixel converts the "em" format. [It was added in --v.1.0.0]         *
*                                                                          *
*  Mixins:                                                                 *
*    » CSS3 Prefix Adding. [It was added in --v.1.0.0]                     *
*    » Responsive Media Selector. [It was added in --v.1.0.0]              *
*    » Alternate Responsive Media Selector. [It was added in --v.1.0.0]    *
*    » Setting The Alpha Channel For Items. Support Cross Browser.         *
*    » Set Border Radius. [It was added in --v.1.0.0]                      *
*    » Set Shorthand Animation. [It was added in --v.1.0.0]                *
*    » Animation Creator. [It was added in --v.1.0.0]                      *
*    » Transition. [It was added in --v.1.0.0]                             *
*    » 2D Transforms. [It was added in --v.1.0.0]                          *
*    » 3D Transforms. [It was added in --v.1.0.0]                          *
*    » Change Input Placeholder Attributes. [It was added in --v.1.0.0]    *
*    » Horizontal Navigation Bar. [It was added in --v.1.1.0]              *
*    » Vertical Navigation Bar. [It was added in --v.1.1.0]                *
*    » Dropdown. [It was added in --v.1.1.0]                               *
*    » Tooltip. [It was added in --v.1.2.0]                                *
*    » Box Shadow. [It was added in --v.1.2.0]                             *
*    » Gradients. [It was added in --v.1.2.0]                              *
*    » Image Filters. [It was added in --v.1.2.0]                          *
*    » Button animation. [It was added in --v.1.3.0]                       *
*    » Font Icon. [It was added in --v.1.3.0]                              *
*    » Font Selector. [It was added in --v.1.4.0]                          *
*    » Menu Button. [It was added in --v.1.6.0]                            *
*    » Triangle. [It was added in --v.1.7.0]                               *
*    » Text Shadow. [It was added in --v.2.1.1]                            *
*    » Info Bar. [It was added in --v.2.1.1]                               *
*                                                                          *
*  Helpers:                                                                *
*    » Clearfix. [It was added in --v.1.5.0]                               *
*    » Affix. [It was added in --v.1.5.0]                                  *
*--------------------------------------------------------------------------*
*  Contributors »                                                          *
*--------------------------------------------------------------------------*
*  ...                                                                     *
****************************************************************************/

/**
 *  FONT ICONS »
 */

@import "font.icons";


/**
 *  VARIABLES »
 */

//Enter the name of the font you use. Required to x-font mixin.
$baseFontName:    null    !default;   //Ex. 'Roboto'

$cellphone:       cp      !default;   //320px
$smartphone:      sp      !default;   //480px
$tablet:          tablet  !default;   //768px
$desktop:         desktop !default;   //992px
$largeScreen:     ls      !default;   //1200px
$fullScreen:      fs      !default;   //>1200px

$cellphoneSize:   320px   !default;
$smartphoneSize:  480px   !default;
$tabletSize:      768px   !default;
$desktopSize:     992px   !default;
$largeScreenSize: 1200px  !default;
$fullScreenSize:  1200px  !default;

$white:           #FFFFFF !default;
$black:           #000000 !default;
$baseFontPixel:   14px    !default;


/**
 *  FUNCTIONS »
 */

/**
 *  » Pixel converts the "em" format.
 *  Warning: Specify the base font size before use. ($baseFontPixel, Default size 14px.)
 *  Function Name: @function x-convert_em($fontPx)
 *  ---
 *  Parameter Descriptions:
 *  @param $fontPx: Font Size.
 *  ---
 *  @return em
 *
 *  Usage:
 *    SCSS:
 *    p {
 *      font-size: x-convert_em(14px);
 *    }
 */
@function x-convert_em($fontPx) {
  @return ($fontPx / $baseFontPixel) * 1em;
}


/**
 *  MIXINS »
 */

/**
 *  » CSS3 Prefix Adding.
 *  Mixin Name: @mixin x-prefix($property, $args...)
 *  ---
 *  Parameter Descriptions:
 *  @param $property: Css property name. Ex. "transition", "border-radius"...
 *  @param $args: For the selected attribute values. Ex. "color .3s", "15px"...
 *
 *  Usage:
 *     SCSS:
 *     .box {
 *       Width: 300px;
 *       height: 300px;
 *       @include x-prefix(border-radius, 5px);
 *     }
 */
@mixin x-prefix($property, $args...) {
  -webkit-#{$property}: #{$args};
     -moz-#{$property}: #{$args};
      -ms-#{$property}: #{$args};
       -o-#{$property}: #{$args};
          #{$property}: #{$args};
}


/**
 *  » Responsive Media Selector.
 *  Mixin Name: @mixin x-media($media)
 *  ---
 *  Parameter Descriptions:
 *  @param $media: $cellphone, $smartphone, $tablet, $desktop,
 *                 $largeScreen or "null" when full screen
 *
 *  Usage:
 *    SCSS:
 *    nav[data="main-menu"] {
 *      @include x-media($desktop) {
 *        display: none;
 *      }
 *    }
 */
@mixin x-media($media) {
  @if $media == cp {
    @media (max-width: $cellphoneSize) {@content;}
  }
  @else if $media == sp {
    @media (max-width: $smartphoneSize) {@content;}
  }
  @else if $media == tablet {
    @media (max-width: $tabletSize) {@content;}
  }
  @else if $media == desktop {
    @media (max-width: $desktopSize) {@content;}
  }
  @else if $media == ls {
    @media (max-width: $largeScreenSize) {@content;}
  }
  @else {
    @media (min-width: $fullScreenSize) {@content;}
  }
}


/**
 *  » Alternate Responsive Media Selector.
 *    - This selective media can be entered in any desired resolution.
 *  Mixin Name: @mixin x-media-query($width, $minMax: "max")
 *  ---
 *  Parameter Descriptions:
 *  @param $minMax: min or max. Default value: "max". (min-width, max-width)
 *  @param $width: $cellphoneSize, $smartphoneSize, $tabletSize,
 *                 $desktopSize, $largeScreenSize, $fullScreenSize
 *                 or any screen resolution size.
 *
 *  Usage#1:
 *    SCSS:
 *    nav.nav-content {
 *      @include x-media-query($desktop, "min") {
 *        display: none;
 *      }
 *    }
 *
 *  Usage#2:
 *    SCSS:
 *    h1.caption {
 *      @include x-media-query(300px) {
 *        font-size: 20%;
 *      }
 *    }
 */
@mixin x-media-query($width, $minMax: "max") {
  @if $minMax == "max" {
    @media (max-width: $width) {
      @content;
    }
  }
  @else {
    @media (min-width: $width) {
      @content;
    }
  }
}


/**
 *  » Setting The Alpha Channel For Items.
 *  Mixin Name: @mixin x-opacity($opacity: .85)
 *  ---
 *  Parameter Descriptions:
 *  @param $opacity: 0..1
 *
 *  Usage:
 *    SCSS:
 *    a:hover {
 *      @include x-opacity(.7)
 *    }
 */
@mixin x-opacity($opacity: .85) {
  opacity: $opacity;
  filter: alpha(opacity = $opacity * 100);
}


/**
 *  » Set Border Radius.
 *  Mixin Name: @mixin x-border-radius($radius)
 *  ---
 *  Parameter Descriptions:
 *  @param $radius: You know that ;)
 *
 *  Usage:
 *    SCSS:
 *    div.box {
 *      @include x-border-radius(15px)
 *    }
 */
@mixin x-border-radius($radius) {
  @include x-prefix('border-radius', $radius);
}


/**
 *  » Set Shorthand Animation.
 *  Tip: You can use this feature with keyframes
 *  Mixin Name: @mixin x-animation($args...)
 *  ---
 *  Parameter Descriptions:
 *  @param $args: ( Animation name,
 *                  Duration,
 *                  Timing function,
 *                  Delay,
 *                  Iteration count,
 *                  Direction )
 *
 *  Usage:
 *    SCSS:
 *    div.anim {
 *      width: 100px;
 *      height: 100px;
 *      position: relative;
 *      background-color: red;
 *      @include x-animation('example 4s 3 alternate');
 *    }
 */
@mixin x-animation($args...) {
  @include x-prefix('animation', $args);
}


/**
 *  » Animation Creator.
 *  Mixin Name: @mixin x-keyframes($animationName)
 *  Tip: See those for features. (Link: http://www.w3schools.com/cssref/css_animatable.asp)
 *  ---
 *  Parameter Descriptions:
 *  @param $animationName: Name of the animation. You can put any name.
 *
 *  Usage:
 *    SCSS:
 *    @include x-keyframes(example) {
 *      0%   {background-color: red; left:0px; top:0px;}
 *      25%  {background-color: yellow; left:200px; top:0px;}
 *      50%  {background-color: blue; left:200px; top:200px;}
 *      75%  {background-color: green; left:0px; top:200px;}
 *      100% {background-color: red; left:0px; top:0px;}
 *    }
 *
 *    div.anim {
 *      width: 100px;
 *      height: 100px;
 *      position: relative;
 *      background-color: red;
 *      @include x-animation('example 4s 3 alternate');
 *    }
 */
@mixin x-keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-ms-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}


/**
 *  » Transition.
 *  Mixin Name: @mixin x-transition($args...)
 *  ---
 *  Parameter Descriptions:
 *  @param $args: ( Property,
 *                  Duration,
 *                  Timing function,
 *                  Delay )
 *
 *  Usage#1:
 *    SCSS:
 *    a {
 *      color: gray;
 *      @include x-transition(color .3s ease);
 *
 *      &:hover {
 *        color: black;
 *      }
 *    }
 *
 *  Usage#2:
 *    SCSS:
 *    header.navbar {
 *      min-height: 60px;
 *      position: fixed;
 *      margin: 0 auto;
 *      @include x-transition(.4s);
 *    }
 *
 *    CSS:
 *    .navbg-black {
 *       background-color: #000 !important;
 *    }
 *
 *    header.navbar slowly change color to adding .navbg-black class.
 */
@mixin x-transition($args...) {
  @include x-prefix('transition', $args);
}


/**
 *  » 2D Transforms.
 *  Mixin Name: @mixin x-transform2d($method)
 *  Tip: See at examples (Link: http://www.w3schools.com/css/css3_2dtransforms.asp)
 *  ---
 *  Parameter Descriptions:
 *  @param $method: Method name.
 *  Method List ( translate(x,y), translateX(n), translateY(n),
 *                rotate(angle),
 *                scale(x,y), scaleX(n), scaleY(n),
 *                skew(x-angle, y-angle), skewX(angle), skewY(angle),
 *                matrix(n,n,n,n,n,n) )
 *
 *  Usage:
 *    SCSS:
 *    div.rotate {
 *      @include x-transform2d(rotate(20deg));
 *    }
 */
@mixin x-transform2d($method) {
  @include x-prefix('transform', $method);
}


/**
 *  » 3D Transforms.
 *  Mixin Name: @mixin x-transform3d($method)
 *  ---
 *  Parameter Descriptions:
 *  @param $method: Method name.
 *  Method List ( translate3d(x,y,z), translateX(x), translateY(y), translateZ(z),
 *                rotate3d(x,y,z,angle), rotateX(angle), rotateY(angle), rotateZ(angle),
 *                scale3d(x,y,z), scaleX(x), scaleY(y), scaleY(z),
 *                matrix3d(n,n,n,n,n,n,n,n,n,n,n,n,n,n,n,n),
 *                perspective(n) )
 *
 *  Usage:
 *    SCSS:
 *    div.rotate {
 *      @include x-transform3d(rotateZ(90deg));
 *    }
 */
@mixin x-transform3d($method) {
  @include x-prefix('transform', $method);
}


/**
 *  » Change Input Placeholder Attributes.
 *  Mixin Name: @mixin x-change-input-placeholder()
 *  ---
 *  Supported placeholder styles: {
 *      font
 *      color
 *      background
 *      word-spacing
 *      letter-spacing
 *      text-decoration
 *      vertical-align
 *      text-transform
 *      line-height
 *      text-indent
 *      opacity
 *  }
 *
 *  Usage:
 *    SCSS:
 *    input[type="email"] {
 *      @include x-change-input-placeholder() {
 *        color: orange;
 *      }
 *    }
 */
@mixin x-change-input-placeholder() {
  &::-webkit-input-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
}


/**
 *  » Vertical Navigation Bar.
 *  Mixin Name: @mixin x-vertical-navbar(
 *                          $width: 100%,
 *                          $bgColor: #f1f1f1,
 *                          $textColor: #000,
 *                          $textAlign: left,
 *                          $hoverBgColor: #555,
 *                          $hoverTextColor: white,
 *                          $activeLinkBgColor: #4CAF50,
 *                          $activeLinkTextColor: white,
 *                          $linkPadding: 8px 0 8px 16px,
 *                          $isFullHeight: false
 *                          $isBorderRadius: false,
 *                          $radius: 5px,
 *                          $isBorder: false,
 *                          $borderSize: 1px,
 *                          $borderColor: #d2d2d2,
 *                          $isBoxShadow: false,
 *                          $shadowColor: rgba(0, 0, 0, 0.2))
 *  ---
 *  Parameter Descriptions:
 *  @param $width: Navigation bar width. Default size: 100%.
 *  @param $bgColor: Navigation bar background color. Default color: #f1f1f1.
 *  @param $textColor: Link text color. Default color: #000.
 *  @param $textAlign: Link text align. Default value: left.
 *  @param $hoverBgColor: Link hover background color. Default color: #555.
 *  @param $hoverTextColor: Link hover text color. Default color: #fff.
 *  @param $activeLinkBgColor: Active link background color. Default color: #4CAF50.
 *  @param $activeLinkTextColor: Active link text color. Default color: #fff.
 *  @param $linkPadding: Link paddind. Default value: 8px 0 8px 16px. [top, right, bottom, left].
 *  @param $isFullHeight: Full height navigation bar. Default value: false.
 *  @param $isBorderRadius: Navigation bar border radius. Default value: false.
 *  @param $radius: Border radius value. Default value: 5px.
 *  @param $isBorder: Navigation bar border adding. Default value: false.
 *  @param $borderSize: Border Size. Default value: 1px.
 *  @param $borderColor: Border Color. Default color: #d2d2d2.
 *  @param $isBoxShadow: Navigation bar shadow. Default value: false.
 *  @param $shadowColor: Shadow color. Default color: rgba(0, 0, 0, 0.2).
 *
 *  Usage 1:
 *    SCSS:
 *    #nav {
 *      @include x-vertical-navbar(300px);
 *    }
 *
 *    HTML:
 *    <div id="nav">
 *       <ul>
 *         <li><a class="active" href="#home">Home</a></li>
 *         <li><a href="#news">News</a></li>
 *         <li><a href="#contact">Contact</a></li>
 *         <li><a href="#about">About</a></li>
 *       </ul>
 *   </div>
 *
 *  Usage 2:
 *    SCSS:
 *    #nav {
 *      @include x-vertical-navbar($width:150px, $isFullHeight:true);
 *    }
 *
 *    HTML:
 *    <div id="nav">
 *       <ul>
 *         <li><a class="active" href="#home">Home</a></li>
 *         <li><a href="#news">News</a></li>
 *         <li><a href="#contact">Contact</a></li>
 *         <li><a href="#about">About</a></li>
 *       </ul>
 *   </div>
 */
@mixin x-vertical-navbar(
            $width: 100%,
            $bgColor: #f1f1f1,
            $textColor: #000,
            $textAlign: left,
            $hoverBgColor: #555,
            $hoverTextColor: white,
            $activeLinkBgColor: #4CAF50,
            $activeLinkTextColor: white,
            $linkPadding: 8px 0 8px 16px,
            $isFullHeight: false,
            $isBorderRadius: false,
            $radius: 5px,
            $isBorder: false,
            $borderSize: 1px,
            $borderColor: #d2d2d2,
            $isBoxShadow: false,
            $shadowColor: rgba(0, 0, 0, 0.2)) {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: $width;
    background-color: $bgColor;

    @if ($textAlign == center) {text-align: center}
    @if ($textAlign == right) {
      text-align: right;
      padding-right: 15px;
    }

    @if ($isFullHeight) {
      height: 100%; /* Full height */
      position: fixed; /* Make it stick, even on scroll */
      overflow: auto; /* Enable scrolling if the sidenav has too much content */
    }

    @if ($isBorder) {
      border: $borderSize solid #d2d2d2;
    }

    @if ($isBorderRadius) {
      @include x-border-radius($radius);
    }

    @if ($isBoxShadow) {
      @include x-box-shadow(0 4px 8px 0px $shadowColor);
    }

    li a {
      display: block;
      color: $textColor;
      padding: $linkPadding;
      text-decoration: none;

      .active {
        background-color: $activeLinkBgColor !important;
        color: $activeLinkTextColor !important;
      }

      &:hover:not(.active) {
        background-color: $hoverBgColor;
        color: $hoverTextColor;
      }
    }
  }
}


/**
 *  » Horizontal Navigation Bar.
 *  Mixin Name: @mixin x-horizontal-navbar(
 *                          $bgColor: #333,
 *                          $hoverBgColor: #111,
 *                          $textColor: #fff,
 *                          $hoverTextColor: #fff,
 *                          $activeLinkBgColor: #4CAF50,
 *                          $activeLinkTextColor: #fff,
 *                          $padding: 14px 16px,
 *                          $isDivider: false,
 *                          $dividerColor: #bbb,
 *                          $isCenter: false)
 *  ---
 *  Parameter Descriptions:
 *  @param $bgColor: Navigation bar background color. Default color: #333.
 *  @param $hoverBgColor: Link hover background color. Default color: #111.
 *  @param $textColor: Link text color. Default color: #fff.
 *  @param $hoverTextColor: Link hover text color. Default color: #fff.
 *  @param $activeLinkBgColor: Active link background color. Default color: #4CAF50.
 *  @param $activeLinkTextColor: Active link text color. Default color: #fff.
 *  @param $padding: Link padding. Default value: 14px 16px.
 *         Tip: [14px 16px -> top-bottom left-right], [15px 5px 15px 5px -> top, right, bottom, left]
 *  @param $isDivider: Divider inserts links. Default value: false.
 *  @param $dividerColor: Dividers color. Default color: #bbb.
 *  @param $isCenter: Navigation to center. Default value: false.
 *
 *  Usage:
 *    SCSS:
 *    #nav {
 *      @include x-horizontal-navbar($isDivider:true);
 *    }
 *
 *    HTML:
 *    <div id="nav">
 *       <ul>
 *         <li><a class="active" href="#home">Home</a></li>
 *         <li><a href="#news">News</a></li>
 *         <li><a href="#contact">Contact</a></li>
 *         <li style="float:right"><a href="#about">About</a></li> <!-- right link element -->
 *       </ul>
 *    </div>
 */
@mixin x-horizontal-navbar(
          $bgColor: #333,
          $hoverBgColor: #111,
          $textColor: #fff,
          $hoverTextColor: #fff,
          $activeLinkBgColor: #4CAF50,
          $activeLinkTextColor: #fff,
          $padding: 14px 16px,
          $isDivider: false,
          $dividerColor: #bbb,
          $isCenter: false) {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $bgColor;

    @if ($isCenter) {
      display: inline-block;
      text-align: center;
    }

    li {
      float: left;
      @if ($isDivider) {
        border-right: 1px solid $dividerColor;
      }

      a {
        display: block;
        color: $textColor;
        text-align: center;
        padding: $padding;
        text-decoration: none;

        .active {
          color: $activeLinkTextColor !important;
          background-color: $activeLinkBgColor !important;
        }

        &:hover:not(.active) {
          color: $hoverTextColor;
          background-color: $hoverBgColor;
        }
      }

      @if ($isDivider) {
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}


/**
 *  » Dropdown.
 *  Mixin Name: @mixin x-dropdown(
 *                  $btnBgColor: #4CAF50,
 *                  $btnTextColor: white,
 *                  $contentWidth: 160px,
 *                  $linkTextColor: black,
 *                  $linkHoverBgColor: #f1f1f1)
 *  ---
 *  Parameter Descriptions:
 *  @param $btnBgColor: Dropdown button background color. Default color: #4CAF50.
 *  @param $btnTextColor: Button text color. Default color: #fff.
 *  @param $contentWidth: Dropdown content width. Default value: 160px.
 *  @param $linkTextColor: Link text color. Default color: #000.
 *  @param $linkHoverBgColor: Link hover background color. Default color: #f1f1f1.
 *
 *  Usage:
 *    SCSS:
 *    #drop {
 *       @include x-dropdown();
 *    }
 *
 *    HTML:
 *    <div id="drop">
 *      <div class="dropdown">
 *        <button class="dropbtn">Dropdown</button>
 *        <div class="dropdown-content">
 *          <a href="#">Link 1</a>
 *          <a href="#">Link 2</a>
 *          <a href="#">Link 3</a>
 *        </div>
 *      </div>
 *    </div>
 */
@mixin x-dropdown(
            $btnBgColor: #4CAF50,
            $btnTextColor: white,
            $contentWidth: 160px,
            $contentColor: #f9f9f9,
            $linkTextColor: black,
            $linkHoverBgColor: #f1f1f1) {

  .dropbtn {
    background-color: $btnBgColor;
    color: $btnTextColor;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;

    &:hover .dropdown-content {
      display: block;
    }

    &:hover .dropbtn {
      background-color: darken($btnBgColor, 10%);
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $contentColor;
    min-width: $contentWidth; /* width: 100% => .dropdown-content width = .dropbtn width. */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    a {
      color: $linkTextColor;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

      &:hover {background-color: $linkHoverBgColor}
    }
  }
}


/**
 *  » Tooltip.
 *  Mixin Name: @mixin x-tooltip(
 *                    $position: top,
 *                    $bgColor: #000,
 *                    $textColor: #fff,
 *                    $height: 5px)
 *  ---
 *  Parameter Descriptions:
 *  @param $position: Tooltip position. Values(top, bottom, left, right). Default value: top.
 *  @param $bgColor: Tooltip background color. Default color: #000.
 *  @param $textColor: Tooltip text color. Default color: #fff.
 *  @param $height: Tooltip height. Default value: 5px.
 *
 *  Usage:
 *    SCSS:
 *    #tooltip {
 *      @include x-tooltip(bottom, $height: 10px);
 *    }
 *
 *    HTML:
 *    <div id="tooltip">
 *      <div class="tooltip">Hover over me
 *        <span class="tooltiptext">Tooltip text</span>
 *      </div>
 *    </div>
 */
@mixin x-tooltip($position: top, $bgColor: #000, $textColor: #fff, $height: 5px) {
  .tooltip {
    position: relative;
    display: inline-block;

    .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: $bgColor;
      color: $textColor;
      text-align: center;
      border-radius: 6px;
      padding: $height 0;
      position: absolute;
      z-index: 1;
      @if ($position == top) {
        bottom: 150%;
        left: 50%;
        margin-left: -60px;
      }
      @else if($position == bottom) {
        top: 150%;
        left: 50%;
        margin-left: -60px;
      }
      @else if($position == right) {
        top: -$height;
        left: 110%;
      }
      @else if($position == left) {
        top: -$height;
        right: 110%;
      }

      &:after {
        content: " ";
        position: absolute;
        border: 5px solid transparent;
        @if ($position == top) {
          top: 100%;
          left: 50%;
          border-top-color: $bgColor;
          margin-left: -5px;
        }
        @else if($position == bottom) {
          bottom: 100%;
          left: 50%;
          border-bottom-color: $bgColor;
          margin-left: -5px;
        }
        @else if($position == right) {
          right: 100%;
          top: 50%;
          border-right-color: $bgColor;
          margin-top: -5px;
        }
        @else if($position == left) {
          left: 100%;
          top: 50%;
          border-left-color: $bgColor;
          margin-top: -5px;
        }
      }
    }

    &:hover .tooltiptext {
      visibility: visible;
    }
  }
}


/**
 *  » Box Shadow.
 *  Mixin Name: @mixin x-box-shadow($args...)
 *  ---
 *  Parameter Descriptions:
 *  @param $args: Values(Horizontal shadow, Vertical shadow, Blur, Shadow color)
 *
 *  Usage:
 *    SCSS:
 *    .box {
 *      width: 300px;
 *      height: 200px;
 *      @include x-box-shadow(0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
 *    }
 *
 *    HTML:
 *    <div class="box"></div>
 */
@mixin x-box-shadow($args...) {
  @include x-prefix('box-shadow', $args);
}


/**
 *  » Gradients.
 *  Mixin Name: @mixin x-gradient($type: linear, $style: diagonal, $args...)
 *  Tip: See at examples. Link: http://www.w3schools.com/css/css3_gradients.asp
 *  ---
 *  Parameter Descriptions:
 *  @param $type: Values(linear or radial). Default value: linear.
 *  @param $style: Values(top-bottom, left-right, diagonal or angle). Default value: diagonal.
 *  @param $angle: Degree. Tip: Enter this value if selected style: angle. Default value: 45deg.
 *  @param $args: Color-stop#1, Color-stop#2...
 *
 *  Usage 1:
 *    SCSS:
 *    .grad {
 *      Width: 300px;
 *      height: 150px;
 *      @include x-gradient($args: #000, #fff);
 *    }
 *
 *    HTML:
 *    <div class="grad"></div>
 *
 *  Usage 2:
 *    SCSS:
 *    .grad {
 *      Width: 300px;
 *      height: 150px;
 *      @include x-gradient($style: angle, $angle: -90deg, $args: #000, #fff);
 *    }
 *
 *    HTML:
 *    <div class="grad"></div>
 */
@mixin x-gradient($type: linear, $style: diagonal, $angle: 45deg, $args...) {
  background: white; /* For browsers that do not support gradients */
  @if ($type == linear) {
    @if ($style == diagonal) {
      background: -webkit-linear-gradient(left top, $args);
      background: -o-linear-gradient(bottom right, $args);
      background: -moz-linear-gradient(bottom right, $args);
      background: linear-gradient(to bottom right, $args);
    }
    @else if ($style == top-bottom) {
      background: -webkit-linear-gradient($args);
      background: -o-linear-gradient($args);
      background: -moz-linear-gradient($args);
      background: linear-gradient($args);
    }
    @else if ($style == left-right) {
      background: -webkit-linear-gradient(left, $args);
      background: -o-linear-gradient(right, $args);
      background: -moz-linear-gradient(right, $args);
      background: linear-gradient(to right, $args);
    }
    @else if($style == angle) {
      background: -webkit-linear-gradient($angle, $args);
      background: -o-linear-gradient($angle, $args);
      background: -moz-linear-gradient($angle, $args);
      background: linear-gradient($angle, $args);
    }
  }
  @else {
    background: -webkit-repeating-radial-gradient($args);
    background: -o-repeating-radial-gradient($args);
    background: -moz-repeating-radial-gradient($args);
    background: repeating-radial-gradient($args);
  }
}


/**
 *  » Image Filter.
 *  Mixin Name: @mixin x-image-filter($filterType: grayscale, $args...)
 *  Warning: IE not supported. EDGE supported.
 *  ---
 *  Parameter Descriptions:
 *  @params $filterType: Filter type. Default value: grayscale.
 *    Filters can be applied:
 *    blur: Applies a blur effect to the image. A larger value will create more blur. Argument value (px).
 *    brightness: Adjusts the brightness of the image. Argument value (%).
 *    contrast: Adjusts the contrast of the image. Argument value (%).
 *    drop-shadow: Applies a drop shadow effect to the image. Argument value (h-shadow, v-shadow, blur, spread, color)
 *    grayscale: Converts the image to grayscale.  Argument value (%).
 *    hue-rotate: Applies a hue rotation on the image. Argument value (deg).
 *    invert: Inverts the samples in the image. Argument value (%).
 *    opacity: Sets the opacity level for the image. Argument value (%).
 *    saturate: Saturates the image. Argument value (%).
 *    sepia: Converts the image to sepia. Argument value (%).
 *    url: The url() function takes the location of an XML file that specifies an SVG filter, and may include an anchor to a specific filter element.
 *      Example: url(svg-url#element-id)
 *
 *  Usage 1:
 *    SCSS:
 *    .filter {
 *      @include x-image-filter(blur, 5px);
 *    }
 *
 *    HTML:
 *    <div class="filter>
 *      <img src="image.jpg">
 *    </div>
 *
 *  Usage 2:
 *    SCSS:
 *    #nav ul li a {
 *      @include x-image-filter($args: 100%);
 *      @include x-transition(.3s);
 *    }
 *
 *    #nav ul li a:hover {
 *      @include x-image-filter($args: 0);
 *    }
 *
 *    HTML:
 *    <div id="nav">
 *      <ul>
 *        <li><a href="#"><img src="link1.jpg"></a></li>
 *        <li><a href="#"><img src="link2.jpg"></a></li>
 *      </ul>
 *    </div>
 */
@mixin x-image-filter($filterType: grayscale, $args...) {
  img {
    -webkit-filter: $filterType+'('+$args+')';
    filter: $filterType+'('+$args+')';
  }
}


/**
 *  » Button to add animation.
 *  Mixin Name: @mixin x-button-animation($content: '»')
 *  Tip: You can use icon fonts.
 *  ---
 *  Parameter Descriptions:
 *  @params $content: Icon will appear when hovering over the button. Default value: '»'.
 *
 *  Usage:
 *    SCSS:
 *    .button {
 *      display: inline-block;
 *      border-radius: 4px;
 *      background-color: #555555;
 *      border: none;
 *      color: #FFFFFF;
 *      text-align: center;
 *      font-size: 28px;
 *      padding: 25px;
 *      width: 200px;
 *      cursor: pointer;
 *      margin: 5px;
 *
 *      @include x-button-animation();
 *    }
 *
 *   HTML:
 *   <button class="button">
 *     <span>Hover</span>
 *   </button>
 */
@mixin x-button-animation($content: '»') {
  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    @include x-transition(.5s);

    &:after {
      content: $content;
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      @include x-transition(.5s);
    }
  }

  &:hover span {
    padding-right: 25px;

    &:after {
      opacity: 1;
      right: 0;
    }
  }
}


/**
 *  » Font Icon.
 *  Mixin Name: @mixin x-icon($icon, $direction: right, $size: 14px, $color: #000, $padding: 0)
 *  Tip: Icon list. Link: https://fortawesome.github.io/Font-Awesome/icons/
 *  ---
 *  Parameter Descriptions:
 *  @param $icon: Icon name. Tip: See for icon list ($f-*)
 *  @param $direction: Icon direction. Default value: right.
 *  @param $size: Icon Size. Default size: 14px.
 *  @param $color: Icon color. Default color: #111.
 *  @param $padding: Icon padding. Default value: 0px.
 *
 *  Usage:
 *    SCSS:
 *    .chart {
 *      color: white;
 *      @include x-font("m", 20px);
 *
 *      i {
 *        @include x-icon($f-bar-chart, $color: white);
 *      }
 *    }
 *
 *   HTML:
 *   <div class="chart">
 *     The Chart &nbsp;
 *     <i></i>
 *   </div>
 */
@mixin x-icon($icon, $direction: right, $size: $baseFontPixel, $color: #111, $padding: 0) {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @if($direction == left) {
    &:before {
      content: $icon;
      font-size: x-convert_em($size);
      color: $color;
      @if($padding > 0) {
        padding-right: $padding;
      }
    }
  }
  @else {
    &:after {
      content: $icon;
      font-size: x-convert_em($size);
      color: $color;
      @if($padding > 0) {
        padding-left: $padding;
      }
    }
  }
}


/**
 *  » Font Selector.
 *  Mixin Name: @mixin x-font($fontType: 'r', $size: $baseFontPixel, $spacing: 0.5px, $fontName: $baseFontName)
 *  Note: Before use, enter the value of $baseFontName.
 *  Warning: Use this when you import the fonts to your project:
 *    @font-face {
 *      font-family: RobotoThin;
 *      src: url(font/roboto_thin.woff);
 *    }
 *  ---
 *  Parameter Descriptions:
 *  @param $fontType: Values('t', 'l', 'r', 'm', 's', 'b')
 *    t: Thin.
 *    l: Light.
 *    r: Regular.
 *    m: Medium.
 *    s: Semibold.
 *    b: Bold.
 *  @param $size: Font size. Default value: Base font size.
 *  @param $spacing: Letter spacing. Default value: -0.5px.
 *  @param $fontName: Font name. Default value: Base font name.
 *
 *  Usage:
 *    SCSS:
 *    .caption {
 *      @include x-font('m', 18px);
 *    }
 *
 *    HTML:
 *    <p class="caption">This is caption.</p>
 */
@mixin x-font($fontType: 'r', $size: $baseFontPixel, $spacing: 0.5px, $fontName: $baseFontName) {
  @if($fontName == null) {
    &:before {
      content: '@Error: The font name is null! Check "xcode.css.mixin.fw.scss" -> $baseFontName value.';
      font-weight: bold;
      color: red;
      text-shadow: 1px 1px 5px rgba(255,255,255,.6);
    }
  }
  @else {
    @if ($fontType == 't') {
      font-family: $fontName+'Thin', sans-serif;
    } @else if ($fontType == 'l') {
      font-family: $fontName+'Light', sans-serif;
    } @else if ($fontType == 'r') {
      font-family: $fontName+'Regular', sans-serif;
    } @else if ($fontType == 'm') {
      font-family: $fontName+'Medium', sans-serif;
    } @else if ($fontType == 's') {
      font-family: $fontName+'Semibold', sans-serif;
    } @else if ($fontType == 'b') {
      font-family: $fontName+'Bold', sans-serif;
    }

    font-size: x-convert_em($size);
    letter-spacing: -$spacing;
  }
}


/**
 *  » Menu Button.
 *  Mixin Name: @mixin x-menu-button(
 *                        $color: #fff,
 *                        $position: right,
 *                        $radius: 2px,
 *                        $thickness: 3px,
 *                        $width: 30px,
 *                        $isBorder: false,
 *                        $borderColor: #222,
 *                        $isBorderRadius: false,
 *                        $borderRadius: 3px)
 *  ---
 *  Parameter Descriptions:
 *  @param $color: Line color. Default color: #fff.
 *  @param $position: Menu button position. Default value: right.
 *  @param $radius: Line border radius. Default value: 2px.
 *  @param $thickness: Line thickness. Default value: 3px.
 *  @param $width: Line width. Default value: 30px.
 *  @param $isBorder: Menu button border. Default value: false.
 *  @param $borderColor: Border color. Default color: #222.
 *  @param $isBorderRadius: Menu button border radius. Default value: false.
 *  @param $borderRadius: Border radius. Default value: 3px.
 *
 *  Usage:
 *    SASS:
 *    #menu-btn {
 *      @include x-menu-button($radius:0);
 *    }
 *
 *    //Paste this is class main CSS file.
 *    .menu-active {
 *      a span {
 *        background-color: transparent !important;
 *
 *        &:before, &:after {
 *          top: 0px !important;
 *          background-color: #fff !important;
 *        }
 *
 *        //If the position of the button is left, change in the plus with the minus.
 *        &:before {@include x-transform2d(rotate(45deg))}
 *        &:after {@include x-transform2d(rotate(-45deg))}
 *      }
 *    }
 *
 *    HTML:
 *    <nav>
 *      <ul>
 *        <li><a class="active" href="#">Home</a></li>
 *        <li><a href="#">News</a></li>
 *        <li><a href="#">Contact</a></li>
 *        <li id="menu-btn">
 *          <a href="#">
 *            <span></span>
 *          </a>
 *        </li>
 *      </ul>
 *    </nav>
 *
 *    JAVASCRIPT(JQUERY):
 *    $("#menu-btn").click(function() {
 *      $(this).toggleClass("menu-active");
 *      return false;
 *    });
 */
@mixin x-menu-button(
          $color: $white,
          $position: right,
          $radius: 2px,
          $thickness: 3px,
          $width: 30px,
          $isBorder: false,
          $borderColor: #222,
          $isBorderRadius: false,
          $borderRadius: 3px) {

  float: $position;
  @if ($isBorder) {
    border: 1px solid $borderColor;
  }

  @if ($isBorderRadius) {
    @include x-border-radius($borderRadius);
  }

  @include x-media-query($desktopSize, "min") {
    display: none;
  }

  a {
    position: relative;
    display: block;
    width: 50px;
    height: 44px;
    float: right;
    cursor: pointer;
    z-index: 999;

    @include x-prefix('touch-action', 'manipulation');
    @include x-prefix('user-select', 'none');

    span {
      position: absolute;
      top: 50%;
      right: 10px;
      display: block;
      width: $width;
      height: $thickness;
      background-color: $color;

      @include x-border-radius($radius);
      @include x-transition('all .2s ease-in-out 0s');

      &:before {top: -8px}
      &:after {top: 8px}

      &:before, &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: $thickness;
        left: 0;
        background-color: $color;
        display: block;

        @include x-border-radius($radius);
        @include x-transition('all .2s ease-in-out 0s');
      }
    }

    &:focus, &:visited {
      outline: none;
    }
  }
}


/**
 *  » Triangle.
 *  Mixin Name: @mixin x-triangle(
 *                      $color: #111,
 *                      $borderColor: $color,
 *                      $borderWidth: 1px,
 *                      $direction: up,
 *                      $position: center,
 *                      $indent: 8px,
 *                      $size: 10px)
 *  ---
 *  Parameter Descriptions:
 *  @param $color: Triangle color. Default color: #111.
 *  @param $borderColor: Triangle border color. Default color: $color.
 *  @param $borderWidth: Triangle border width. Default size: 1px. Tip: The same as the parent object.
 *  @param $direction: Triangle direction. Values: {up, down, left, right}
 *  @param $position: Triangle position. Default value: center. Tip: Value can be specified in "px".
 *  @param $indent: Triangle indentation. Default value: 8px.
 *  @param $size: Triangle size. Default size: 10px.
 *
 *  Usage:
 *    SASS:
 *    .triangle {
 *      position: relative;
 *      width: 150px;
 *      padding: 10px 20px;
 *      background-color: #813efa;
 *      text-align: center;
 *      color: $white;
 *      font-size: 20px;
 *
 *      @include x-border-radius(5px);
 *      @include x-triangle(#813efa, $direction: right);
 *    }
 *
 *    HTML:
 *    <div class="triangle">
 *      Triangle
 *    </div>
 */
@mixin x-triangle(
  $color: #111,
  $borderColor: $color,
  $borderWidth: 1px,
  $direction: up,
  $position: center,
  $indent: 8px,
  $size: 10px) {

  &:before, &:after {
    content: "";
    height: 0px;
    width: 0px;
    display: block;
    position: absolute;
    z-index: 2;

    @if ($direction == up) {
      top: 0;
      margin-top: -$indent;
      @if ($position == center) {
        left: calc(50% - #{$size});
        left: -webkit-calc(50% - #{$size});
        left: -moz-calc(50% - #{$size});
      }
      @else {
        left: $position;
      }
      border-bottom: $size solid $color;
      border-left: $size solid transparent;
      border-right: $size solid transparent;
    }
    @else if ($direction == down) {
      bottom: 0;
      margin-bottom: -$indent;
      @if ($position == center) {
        left: calc(50% - #{$size});
        left: -webkit-calc(50% - #{$size});
        left: -moz-calc(50% - #{$size});
      }
      @else {
        left: $position;
      }
      border-top: $size solid $color;
      border-left: $size solid transparent;
      border-right: $size solid transparent;
    }
    @else if ($direction == left) {
      left: 0;
      margin-left: -$indent;
      @if ($position == center) {
        top: calc(50% - #{$size});
        top: -webkit-calc(50% - #{$size});
        top: -moz-calc(50% - #{$size});
      }
      @else {
        top: $position;
      }
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      border-right: $size solid $color;
    }
    @else if ($direction == right) {
      right: 0;
      margin-right: -$indent;
      @if ($position == center) {
        top: calc(50% - #{$size});
        top: -webkit-calc(50% - #{$size});
        top: -moz-calc(50% - #{$size});
      }
      @else {
        top: $position;
      }
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      border-left: $size solid $color;
    }
  }

  &:after {
    z-index: 1;

    @if ($direction == up) {
      margin-top: -($indent+$borderWidth+1);
      border-bottom: $size solid $borderColor;
    }
    @else if ($direction == down) {
      margin-bottom: -($indent+$borderWidth+1);
      border-top: $size solid $borderColor;
    }
    @else if ($direction == left) {
      margin-left: -($indent+$borderWidth+1);
      border-right: $size solid $borderColor;
    }
    @else if ($direction == right) {
      margin-right: -($indent+$borderWidth+1);
      border-left: $size solid $borderColor;
    }
  }
}

/**
 *  » Text Shadow.
 *  Mixin Name: @mixin x-text-shadow($args...)
 *  ---
 *  Parameter Descriptions:
 *  @param $args: h-shadow, v-shadow, blur-radius, color. Default value: 1px 1px 5px rgba(0, 0, 0, .4).
 *  Tip: Not required to specify the value.
 *
 *  Usage:
 *    SASS:
 *    .caption {
 *      @include x-text-shadow();
 *    }
 *
 *    HTML:
 *    <div class="caption">
 *      This is caption.
 *    </div>
 */
@mixin x-text-shadow($args...) {
  @if length($args) > 1 {
    text-shadow: $args;
  }
  @else {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
  }
}

/**
 *  » Info Bar.
 *  Mixin Name: @mixin x-infobar($position: "bottom-right", $distance: 20px)
 *  ---
 *  Parameter Descriptions:
 *  @param $position: Info bar position. Default value: "bottom-right".
 *    Values("bottom-right", "bottom-left", "top-right", "top-left").
 *  @param $distance: The distance from the specified position. Default value: 20px.
 *
 *  Usage:
 *    SASS:
 *    #info {
 *      @include x-infobar();
 *    }
 *
 *    HTML:
 *    <div id="info">
 *      <p>0</p>
 *    </div>
 *
 *    JQUERY:
 *    $(document).ready(function() {
 *      var $scroll = $(window).scrollTop();
 *      var $screenWidth = $(this).width();
 *
 *      $("#info").find("p").html("Scroll: "+$scroll+"px - Width: "+$screenWidth+"px");
 *    });
 */
@mixin x-infobar($position: "bottom-right", $distance: 20px) {
  position: fixed;
  background-color: #222;
  color: white;
  text-align: center;
  font-size: $baseFontPixel;
  border: 1px solid #111;
  z-index: 9999999999;

  @if ($position == "bottom-right") {
    right: $distance;
    bottom: $distance;
  }
  @else if ($position == "bottom-left") {
    left: $distance;
    bottom: $distance;
  }
  @else if ($position == "top-right") {
    right: $distance;
    top: $distance;
  }
  @else if ($position == "top-left") {
    left: $distance;
    top: $distance;
  }

  @include x-box-shadow(
                  0 4px 8px 0 rgba(255, 255, 255, 0.2),
                  0 6px 20px 0 rgba(255, 255, 255, 0.19));
  @include x-border-radius(5px);
  p {margin: 8px}
}


/**
 *  HELPERS »
 */

/**
 *  » Clearfix.
 *  Helper Name: %x-clearfix
 *
 *  Usage:
 *    SCSS:
 *    .container {
 *      background-color: #f1f1f1;
 *      @extend %x-clearfix;
 *    }
 *
 *    CSS:
 *    .wrapper {
 *      width: 300px;
 *      height: 200px;
 *      float: left;
 *      background-color: #222;
 *      margin: 10px;
 *    }
 *
 *    HTML:
 *    <div class="container">
 *      <div class="wrapper"></div>
 *      <div class="wrapper"></div>
 *    </div>
 */
%x-clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/**
 *  » Affix.
 *  Helper Name: %x-affix-top, %x-affix-bottom
 *
 *  Usage:
 *    SCSS:
 *    .bottom-menu {
 *      height: 200px;
 *      @extend %x-affix-bottom;
 *    }
 *
 *    HTML:
 *    <div class="bottom-menu"></div>
 */
%x-affix-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

%x-affix-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}